:root{
    --background-color: rgb(117, 115, 115) ;
}
h1{
    font-size: 20px;
    position: relative;
    margin: 80px;
    max-width: 700px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

body{
    background-color: var(--background-color);
}

.logo{ 
    width: 100px;
    height:auto;  position: fixed"

}

.Header{
    position: relative;
    margin-top: 0px;
   
}

.for-us-neva-them{
    position:relative;
    bottom:0;
    right:200px;

}

.lastonesleft{
    bottom: 0;
    position: absolute;
    
}

.freedemboyz{
    position: relative;
    bottom: 0;
    margin-left: 400px;
    
}